/* ########  RESPONSIVE ######*/
 
/* ###########   Móviles en vertical ######### */
@media (max-width: 360px) {
    
    .navbar-brand img {width: 35%;}
    .navbar-brand span { font-size: 0.7rem;}

}
 
/* ########### Moviles en horizontal ########### */
@media (min-width: 480px) { 
 
    .navbar-brand img {width: 45%;}
    .navbar-brand span { font-size: 0.9rem;}

}

/* ########### Moviles en horizontal ########### */
@media (min-width: 640px) { 
    
}
 
/* ######## Tabletas vertical ########### */
@media (min-width: 768px) {
     
}

/* ######## Tabletas horizontales ########### */
@media (min-width: 1024px) {
 
}

/* ######## Tablets y Desktops horizontales ########### */
@media (min-width: 1200px) {
}